{:deps {io.github.nextjournal/clerk {:mvn/version "0.11.603"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}}}